<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title> LAR FRONT </title>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container" style="padding:25">

    <div class="text-right">
        <a th:href="@{/user}">User Page</a>
        <br/>
        <a th:href="@{/admin}">Admin Page</a>

        <h2 class="text-center"> Добро пожаловать в магазин </h2>
    </div>

    <form class="form-group">
        <div>
            <div class="text-left">
                <label> Рыба </label>
                <div><input class="form-control" type="text" name="count"></div>
            </div>
            <div class="text-left">
                <label> Мясо </label>
                <div><input class="form-control" type="text" name="count"></div>
            </div>

            <div class="text-left">
                <label> Хлеб </label>
                <div><input class="form-control" type="text" name="count"></div>
            </div>

            <div>
                <input type="submit" class="btn btn-primary" style="margin:5" value="Добавить в корзину">
            </div>
        </div>
    </form>
</div>


</body>
<script>
    var formJson = [];
$("form" ).submit(function (event){

	var data = JSON.stringify( $( this ).serializeArray());
    var t = $( this ).serializeArray();

	for (var i = 0; i < t.length; i++){
	if(t[i].value != 0)
	formJson.push({id:i, name:t[i].value});
}

console.log(JSON.stringify(formJson));

event.preventDefault();

	$.ajax({
    url: '/123',
    type: 'POST',
    data: JSON.stringify(formJson),
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    async: false,
    success: function(msg) {

    }
});

})

</script>

</html>